<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.bxv-programming.taylor"
    android-versionCode = "1" 	<!-- increment versionCode by 1 (int) each update -->
	versionName = "1.0"			<!-- string version to be shown to users -->
    version     = "1.2.0" >		<!-- major.minor.patch updates -->


  <name>Meditation</name>

  <description>
      App for BXV meditation club, designed by the programming club.
  </description>

  <author>
      Kenny Taylor
  </author>

</widget>