body {
  font-family: "Georgia";
  background-color: cornflowerblue;
  background-repeat: no-repeat;
}

table {
  background-color:cornflowerblue;
  padding: 3px;
  border-width: 5px;
  border-color: darkgray;
  border-style: solid;
  border-radius:30%;
}

button {

  font-family: inherit;
  background-color: dodgerblue;
  border-radius: 10px;
}
button:hover {
  background-color:deepskyblue;
}

hr {
  background-color: black;
  
}

h1 {
  
}