body {
  font-family: "Georgia";
  background-color: #c6e4ff;
  background-repeat: no-repeat;
}

table {
  background-color:#b7ddff;
  padding: 10px;
  border-width: 5px;
  border-color: darkgray;
  border-style:outset
}

table.nav {
  background-color:#b7ddff;
  
  padding: 4px;
  border-width: 5px;
  border-color: darkgray;
  border-style: solid;
  border-radius:25%;
}

button.main {
  height:40px;
  
  padding-left: 10px;
  padding-right:10px;
  font-family: inherit;
  background-color: #70bcff;
  border-radius: 10px;
}
button:hover {
  background-color:#3bdbb5;
}

hr {
  background-color: black;
  
}

h1 {
  color:dodgerblue;
}

a {
  color:inherit;
  text-decoration: inherit;
}
